{:paths   ["src"]
 :deps    {org.clojure/clojure    {:mvn/version "1.10.0"}
           cheshire               {:mvn/version "5.9.0"}
           gaberger/clj-http-lite {:git/url "https://github.com/gaberger/clj-http-lite.git"
                                   :sha     "d0e4eb3b3b114dc899a279cc3acaa4b93c9400ca"}}
 :aliases {:jar     {:extra-deps {seancorfield/depstar {:mvn/version "1.0.94"}}
                     :main-opts  ["-m" "hf.depstar.jar" "clj-forward-0.0.1.jar"]}
           :install {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
                     :main-opts  ["-m" "deps-deploy.deps-deploy" "install" "clj-forward-0.0.1.jar"]}
           :deploy  {:extra-deps {deps-deploy {:mvn/version "0.0.9"}}
                     :main-opts  ["-m" "deps-deploy.deps-deploy" "deploy" "clj-forward-0.0.1.jar"]}}}








